<<<<<<< HEAD
<div class="matrix">
	<table>
		<tr>
			<td>ξ\η</td>
			<% @m.times do |i| %>
				<td><%= @x_eta[i + 1] %></td>
			<% end %>
		</tr>
		<% @n.times do |i| %>
			<tr>
				<td><%= @x_xi[i + 1] %></td>
				<% @m.times do |j|%>
					<td><%= @p[i][j] %></td>
				<% end %>
			</tr>
		<% end %>
	</table>
	<table>
		<tr>
			<td> ξ </td>
			<% @n.times do |i| %>
				<td><%= @xi.vals[i + 1].round(7) %></td>
			<% end %>
		</tr>
		<tr>
			<td> p<sub>i</sub> </td>
			<% @n.times do |i| %>
				<td><%= @xi.probs[i + 1].round(7) %></td>
			<% end %>
		</tr>
	</table>
	<table>
		<tr>
			<td> η </td>
			<% @m.times do |i| %>
				<td><%= @eta.vals[i + 1].round(7) %></td>
			<% end %>
		</tr>
		<tr>
			<td> p<sub>i</sub> </td>
			<% @m.times do |i| %>
				<td><%= @eta.probs[i + 1].round(7) %></td>
			<% end %>
		</tr>
	</table>
</div>
<table class="mx">
	<tr>
		<td id="xi">
			F<sub>ξ</sub> =
		</td>
		<td>
			<ul>
				<% (@n+1).times do |i| %>
					<li><%= @f_xi[i + 1] %></li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>
<br>
<table class="mx">
	<tr>
		<td id="eta">
			F<sub>η</sub> =
		</td>
		<td>
			<ul>
				<% (@m+1).times do |i| %>
					<li><%= @f_eta[i + 1] %></li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>
<div class="matrix">
	<table>
		<tr>
			<td>Mξ</td>
			<td>Mη</td>
			<td>Dξ</td>
			<td>Dη</td>
			<td>σξ</td>
			<td>ση</td>
			<td>Moξ</td>
			<td>Moη</td>
			<td>Meξ</td>
			<td>Meη</td>
			<td>Asξ</td>
			<td>Asη</td>
			<td>Ekξ</td>
			<td>Ekη</td>
			<td>cov(ξη)</td>
			<td>r<sub>ξη</sub></td>
		</tr>
		<tr>
			<td><%= expected_value(@xi).round(7).to_s %></td>
			<td><%= expected_value(@eta).round(7).to_s %></td>
			<td><%= variance(@xi).round(7).round(7).to_s %></td>
			<td><%= variance(@eta).round(7).round(7).to_s %></td>
			<td><%= standard_deviation(@xi).round(7).to_s %></td>
			<td><%= standard_deviation(@eta).round(7).to_s %></td>
			<td><%= mode(@xi).round(7).to_s %></td>
			<td><%= mode(@eta).round(7).to_s %></td>
			<td><%= median(@xi).round(7).to_s %></td>
			<td><%= median(@eta).round(7).to_s %></td>
			<td><%= skewness(@xi).round(7).to_s %></td>
			<td><%= skewness(@eta).round(7).to_s %></td>
			<td><%= kurtosis(@xi).round(7).to_s %></td>
			<td><%= kurtosis(@eta).round(7).to_s %></td>
			<td><%= cov(@vec).round(7).to_s %></td>
			<td><%= dependence(@vec).round(7).to_s %></td>
		</tr>
	</table>
</div>
<div class = "clearfix">
	<div class = "graph" id="graph-xi"></div>
	<div class = "graph" id="graph-eta"></div>
</div>
<form method="POST" action="">
	<input type="hidden" name="re" value="1"></input>
	<button type="submit"><%= @local[:back] %></button>
=======
<div class="matrix">
	<table>
		<tr>
			<td>ξ\η</td>
			<% @m.times do |i| %>
				<td><%= @x_eta[i + 1] %></td>
			<% end %>
		</tr>
		<% @n.times do |i| %>
			<tr>
				<td><%= @x_xi[i + 1] %></td>
				<% @m.times do |j|%>
					<td><%= @p[i][j] %></td>
				<% end %>
			</tr>
		<% end %>
	</table>
	<table>
		<tr>
			<td> ξ </td>
			<% @n.times do |i| %>
				<td><%= @xi.vals[i + 1].round(7) %></td>
			<% end %>
		</tr>
		<tr>
			<td> p<sub>i</sub> </td>
			<% @n.times do |i| %>
				<td><%= @xi.probs[i + 1].round(7) %></td>
			<% end %>
		</tr>
	</table>
	<table>
		<tr>
			<td> η </td>
			<% @m.times do |i| %>
				<td><%= @eta.vals[i + 1].round(7) %></td>
			<% end %>
		</tr>
		<tr>
			<td> p<sub>i</sub> </td>
			<% @m.times do |i| %>
				<td><%= @eta.probs[i + 1].round(7) %></td>
			<% end %>
		</tr>
	</table>
</div>
<table class="mx">
	<tr>
		<td id="xi">
			F<sub>ξ</sub> =
		</td>
		<td>
			<ul>
				<% (@n+1).times do |i| %>
					<li><%= @f_xi[i + 1] %></li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>
<br>
<table class="mx">
	<tr>
		<td id="eta">
			F<sub>η</sub> =
		</td>
		<td>
			<ul>
				<% (@m+1).times do |i| %>
					<li><%= @f_eta[i + 1] %></li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>
<div class="matrix">
	<table>
		<tr>
			<td>Mξ</td>
			<td>Mη</td>
			<td>Dξ</td>
			<td>Dη</td>
			<td>σξ</td>
			<td>ση</td>
			<td>Moξ</td>
			<td>Moη</td>
			<td>Meξ</td>
			<td>Meη</td>
			<td>Asξ</td>
			<td>Asη</td>
			<td>Ekξ</td>
			<td>Ekη</td>
			<td>cov(ξη)</td>
			<td>r<sub>ξη</sub></td>
		</tr>
		<tr>
			<td><%= expected_value(@xi).round(7).to_s %></td>
			<td><%= expected_value(@eta).round(7).to_s %></td>
			<td><%= variance(@xi).round(7).round(7).to_s %></td>
			<td><%= variance(@eta).round(7).round(7).to_s %></td>
			<td><%= standard_deviation(@xi).round(7).to_s %></td>
			<td><%= standard_deviation(@eta).round(7).to_s %></td>
			<td><%= mode(@xi).round(7).to_s %></td>
			<td><%= mode(@eta).round(7).to_s %></td>
			<td><%= median(@xi).round(7).to_s %></td>
			<td><%= median(@eta).round(7).to_s %></td>
			<td><%= skewness(@xi).round(7).to_s %></td>
			<td><%= skewness(@eta).round(7).to_s %></td>
			<td><%= kurtosis(@xi).round(7).to_s %></td>
			<td><%= kurtosis(@eta).round(7).to_s %></td>
			<td><%= cov(@vec).round(7).to_s %></td>
			<td><%= dependence(@vec).round(7).to_s %></td>
		</tr>
	</table>
</div>
<form method="POST" action="">
	<input type="hidden" name="re" value="1"></input>
	<button type="submit"><%= @local[:back] %></button>
>>>>>>> 488e3aa9ad138f47f269c82cdb59bd2537d3b48e
</form>