<form method="POST" action=<%= "/#{@lang}/calc" %>>
	<table class="input">
		<tr> 
			<td><%= @local[:nm] %></td> 
			<td><textarea name="n" cols="8" rows="1" required placeholder="n"></textarea></td><td><textarea name="m" cols="8" rows="1" required  placeholder="m"></textarea></td>
		</tr>
		<tr>
			<td><%= @local[:xi] %></td>
			<td colspan="2"><textarea name="xi" cols="20" rows="1" required placeholder="ξ1 ξ2 ... ξn"></textarea></td>
		</tr>
		<tr>
			<td><%= @local[:eta] %></td>
			<td colspan="2"><textarea name="eta" cols="20" rows="1" required placeholder="η1 η2 ... ηm"></textarea></td>
		</tr>
		<tr>
			<td><%= @local[:matrix] %></td>
			<td colspan="2"><textarea id="matrix" name="matrix" cols="20" rows="5" required placeholder="p11 p12 ... p1n          p21 p22 ... p2n      p31 p32 ... p3n                   ...                pm1 pm2 ... pnm"></textarea></td>
		</tr>
	</table>
	<br>
	<input type="hidden" name="re" value="2">
	<button type="submit"><%= @local[:calc] %></button>
</form>